<div class="container mt-5">
    
    <h2>Add New Pet</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" >

        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" ngModel name="id">
        </div>
        <div class="form-group">
            <label for="">Pet Type</label>
            <input type="text" class="form-control" ngModel name="petType">
        </div>
        <div class="form-group">
            <label for="">Vaccination</label>
            <input type="text" class="form-control" ngModel name="vaccination">
        </div>
        <div class="form-group">
            <label for="">Done Date</label>
            <input type="text" class="form-control" ngModel name="doneDate">
        </div>
        <div class="form-group">+
            <label for="">Period</label>
            <input type="text" class="form-control" ngModel name="period">
        </div>
        <div class="form-group">
            <label for="">Next Date</label>
            <input type="text" class="form-control" ngModel name="nextDate">
        </div>
        <div class="form-group">
            <label for="">Owner's Details</label>
            <input type="text" class="form-control" ngModel name="ownerDetails">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
